<div class="a_scroll_div">
    <div>
        <div class="a_d-flex">
            <div id="available_task_click">
                <span>Available</span>
                <div id="available_task_indicator"></div>
            </div>
            <div id="created_task_click">
                <span>Created</span>
            </div>
            <div id="completed_task_click">
                <span>Completed</span>
            </div>
            <div id="rejected_task_click">
                <span>Rejected</span>
            </div>
        </div>

        <div class="a_d-flex" style="margin-bottom: 22px">
            <div class="a_d-flex" id="back_task_click">
                <img src="assets/img/icons8-left-24.png" />
                <div id="backSpanDiv">
                    <span style="color: #8f0d19">back</span>
                </div>
            </div>
            <div class="task-amount-display">
                <span id="task_amount_display">20 of&nbsp;</span>
            </div>
            <div class="a_d-flex" id="more_task_click">
                <div id="moreSpanDiv">
                    <span style="color: #8f0d19">more</span>
                </div>
                <img src="assets/img/icons8-right-24.png" />
            </div>
        </div>

        <div class="points">
            <span>Points</span>
        </div>
        <div class="dates">
            <span>Dates</span>
        </div>

        <div class="a_d-flex tasks_loop_divs" id="tasks_loop_divs">
            <div class="d-flex tasks_click_divs" id="tasks_click_divs">
                <img src="assets/img/icons8-task-50.png" />
                <div>
                    <span id="task_txt" class="task_txt">Comment</span>
                </div>
            </div>
            <div>
                <span id="points" class="points">0.00</span>
            </div>
            <div>
                <span id="points-1" class="points">12/10/2024</span>
            </div>
        </div>
    </div>
</div>
